In [16]:
#type conuverstion
a = 37
b = 19.16
c = 3 + 27j

#convertin float to int
print(int(b))
print(float(a))
print(complex(a))
print(complex(b))
print(complex(a,b))

19
37.0
(37+0j)
(19.16+0j)
(37+19.16j)

In [18]:
x = (1 == true)
y = (0 == false)
a = true+6
b = false+90

print("x is",x)
print("y is",y)
print("a:",a)
print("b:",b)

NameError: name 'true' is not defined

In [2]:
n=1
n+=10
n

11

In [19]:
x = [6,55,77]
print(x)

[6, 55, 77]

In [20]:
a = [1,2,3]
#   [0,1,2]
print(a)

a[2] = 4
print(a)

[1, 2, 3]
[1, 2, 4]

In [21]:
t = (6,'program', 1+3j)
print("t[1] = ",t[1])
print("t[0:3] = ",t[0:3])
t[0] = 10

t[1] =  program
t[0:3] =  (6, 'program', (1+3j))

TypeError: 'tuple' object does not support item assignment

In [15]:
def square():
    """function to double the value"""
    '''takes in a number n,return the square of n'''

print (square.__doc__)

function to double the value

In [22]:
a = {1,7,6,3,9}
print("a=",a)

a= {1, 3, 6, 7, 9}

In [24]:
d = {1:'apple',2:'cat',3:'food'}
print(d,type(d))
d[3]

{1: 'apple', 2: 'cat', 3: 'food'} <class 'dict'>

'food'

In [30]:
s = '''apple'''
print(s)

s = """aplle"""
print(s)
s = 'apple'
print(s)
s = "apple"
print(s)
s = apple
print(s)

apple
aplle
apple
apple

NameError: name 'apple' is not defined

In [39]:
s = "hello world"
s =s+"good morning"
print(s)

hello worldgood morning

name="hello world"
print(name[3])

In [40]:
Name="hello world"
print(Name[3])

l

In [41]:
name="hello world"
s= name + "good morning"
s

'hello worldgood morning'

In [45]:
a="hello world"
print("before upper:",a)
b=a.upper()
print("after upper:",b)

before upper: hello world
after upper: HELLO WORLD

In [46]:
a="hello world"
b=a.find('e')
b

1

In [49]:
oldstring = 'i like fruits'
newstring = oldstring.replace('like','love')
print(newstring)
print(oldstring)

i love fruits
i like fruits